Table	Create Table
categories	CREATE TABLE `categories` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `created_at` timestamp NULL DEFAULT NULL,\n  `updated_at` timestamp NULL DEFAULT NULL,\n  PRIMARY KEY (`id`)\n) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
products	CREATE TABLE `products` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `category_id` bigint unsigned NOT NULL,\n  `product_code` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `price` decimal(15,2) NOT NULL,\n  `has_pack` tinyint(1) NOT NULL DEFAULT '0',\n  `pack_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `items_per_pack` int DEFAULT NULL,\n  `pack_price` int DEFAULT NULL,\n  `stock` int NOT NULL DEFAULT '0',\n  `description` text COLLATE utf8mb4_unicode_ci,\n  `image` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `created_at` timestamp NULL DEFAULT NULL,\n  `updated_at` timestamp NULL DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `products_product_code_unique` (`product_code`),\n  KEY `products_category_id_foreign` (`category_id`),\n  CONSTRAINT `products_category_id_foreign` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
transactions	CREATE TABLE `transactions` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `transaction_id` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `user_id` bigint unsigned NOT NULL,\n  `total_price` decimal(15,2) NOT NULL,\n  `payment_amount` decimal(15,2) NOT NULL,\n  `change` decimal(15,2) NOT NULL,\n  `created_at` timestamp NULL DEFAULT NULL,\n  `updated_at` timestamp NULL DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `transactions_transaction_id_unique` (`transaction_id`),\n  KEY `transactions_user_id_foreign` (`user_id`),\n  CONSTRAINT `transactions_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
transaction_details	CREATE TABLE `transaction_details` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `transaction_id` bigint unsigned NOT NULL,\n  `product_id` bigint unsigned NOT NULL,\n  `quantity` int NOT NULL,\n  `price_at_time` decimal(15,2) NOT NULL,\n  `subtotal` decimal(15,2) NOT NULL,\n  `created_at` timestamp NULL DEFAULT NULL,\n  `updated_at` timestamp NULL DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  KEY `transaction_details_transaction_id_foreign` (`transaction_id`),\n  KEY `transaction_details_product_id_foreign` (`product_id`),\n  CONSTRAINT `transaction_details_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE,\n  CONSTRAINT `transaction_details_transaction_id_foreign` FOREIGN KEY (`transaction_id`) REFERENCES `transactions` (`id`) ON DELETE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
conversations	CREATE TABLE `conversations` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `customer_id` bigint unsigned NOT NULL,\n  `created_at` timestamp NULL DEFAULT NULL,\n  `updated_at` timestamp NULL DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  KEY `conversations_customer_id_foreign` (`customer_id`),\n  CONSTRAINT `conversations_customer_id_foreign` FOREIGN KEY (`customer_id`) REFERENCES `users` (`id`) ON DELETE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
messages	CREATE TABLE `messages` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `conversation_id` bigint unsigned NOT NULL,\n  `sender_id` bigint unsigned NOT NULL,\n  `body` text COLLATE utf8mb4_unicode_ci NOT NULL,\n  `created_at` timestamp NULL DEFAULT NULL,\n  `updated_at` timestamp NULL DEFAULT NULL,\n  `is_read` tinyint(1) NOT NULL DEFAULT '0',\n  PRIMARY KEY (`id`),\n  KEY `messages_conversation_id_foreign` (`conversation_id`),\n  KEY `messages_sender_id_foreign` (`sender_id`),\n  CONSTRAINT `messages_conversation_id_foreign` FOREIGN KEY (`conversation_id`) REFERENCES `conversations` (`id`) ON DELETE CASCADE,\n  CONSTRAINT `messages_sender_id_foreign` FOREIGN KEY (`sender_id`) REFERENCES `users` (`id`) ON DELETE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
incoming_products	CREATE TABLE `incoming_products` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `product_id` bigint unsigned NOT NULL,\n  `quantity` int NOT NULL,\n  `buy_price` int NOT NULL,\n  `added_at` date NOT NULL,\n  `created_at` timestamp NULL DEFAULT NULL,\n  `updated_at` timestamp NULL DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  KEY `incoming_products_product_id_foreign` (`product_id`),\n  CONSTRAINT `incoming_products_product_id_foreign` FOREIGN KEY (`product_id`) REFERENCES `products` (`id`) ON DELETE CASCADE\n) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
Table	Create Table
users	CREATE TABLE `users` (\n  `id` bigint unsigned NOT NULL AUTO_INCREMENT,\n  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `email` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `email_verified_at` timestamp NULL DEFAULT NULL,\n  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,\n  `role` enum('admin','staff','customer') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'customer',\n  `remember_token` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,\n  `created_at` timestamp NULL DEFAULT NULL,\n  `updated_at` timestamp NULL DEFAULT NULL,\n  PRIMARY KEY (`id`),\n  UNIQUE KEY `users_email_unique` (`email`)\n) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci
